{% extends 'base.html.twig' %}

{% block body %}
<div class="content_box" id="homePage">
	<blockquote>
		<a class="btn btn-lg btn-primary" href="bill/clients.php">Clientes</a>
		<a class="btn btn-lg btn-primary" href="bill/products.php">Productos</a>
		<a class="btn btn-lg btn-primary" href="bill/index.php">Facturas</a>
	</blockquote>
</div>
{% endblock %}