@CHARSET "UTF8";

.table{
	display: table;
	max-width: 400px;
}

.table .table-row{
	display: table-row;
}

.table .table-cell{
	display: table-cell;
}

input[type="text"], select, textarea{
	font-size 12px;
}

body{
	background-color: #e5e5e5;
}

#container{
	padding: 10px 20px;
}

#loginPage .form-signin{
	max-width: 350px;
	margin: 0 auto;
}