{% extends 'base.html.twig' %}

{% block content %}
<div class="content_box" id="clientsPage">
	<h2>Clientes</h2>
	<div class="table">
		<div class="table-row">
			<div class="table-cell">Nombre</div>
			<div class="table-cell">Nit</div>
			<div class="table-cell">Dirección</div>
		</div>
		{% for client in clients %}
		<form class="table-row client_reg" method="post" action="{{ asset("crud/index.php?action=update&entityName=client&id="~client.id)}}">
			<div class="table-cell"><input type="text" required="required" name="form[name]" value="{{ client.name }}"/></div>
			<div class="table-cell"><input type="number" required="required" name="form[nit]" value="{{ client.nit }}"/></div>
			<div class="table-cell"><input type="text" required="required" name="form[address]" value="{{ client.address }}"/></div>
			<div class="table-cell">
				<button type="submit">Editar</button>
				<button type="button" class="deleteBtn"
					data-path="{{ asset("crud/index.php?action=delete&entityName=client&id="~client.id) }}" >Eliminar</button></div>
		</form>
		{% endfor %}
		<div class="table-row">
			<div class="table-cell">Crear cliente</div>
			<div class="table-cell"></div>
			<div class="table-cell"></div>
		</div>
		<form class="table-row" method="post" action="{{ asset("crud/index.php?action=create&entityName=client") }}" id="newclient">
			<div class="table-cell"><input type="text" required="required" name="form[name]"/></div>
			<div class="table-cell"><input type="number" required="required" name="form[nit]"/></div>
			<div class="table-cell"><input type="text" required="required" name="form[address]"/></div>
			<div class="table-cell"><button>Crear</button></div>
		</form>
	</div>
</div>
{% endblock %}