{% extends 'base.html.twig' %}

{% set productOptions %}
	<option></option>
	{% for product in products %}
		<option value="{{ product.id }}" data-product="{{ product|json_encode }}">{{ product.name }}</option>
	{% endfor %}
{% endset %}

{% set clientOptions %}
	<option></option>
	{% for client in clients %}
		<option value="{{ client.id }}" {{ client.id == bill.client ? "selected='selected'": "" }}>{{ client.name ~ " - "~client.nit}}</option>
	{% endfor %}
{% endset %}

{% block content %}

<div class="content_box" id="billPage">
	<form method="post" action="{{ asset("crud/index.php")}}{{ "?action="~(bill.id != null ? "update" : "create")~"&entityName=bill"}}{{ bill.id != null ? ('&id='~bill.id) : '' }}">
	<h2>Crear/Editar factura</h2>
	<div>
		<label>No. factura: </label><input type="text" readonly="readonly" value={{ bill.id }}>
		<label>Fecha:</label><input type="date" required="required" name="form[date]" value="{{ bill.date|date('Y-m-d') }}"/>
	</div>
	<div>
		<h4>Datos del cliente</h4>
		<label>Cliente: </label>
		<select required="required" name="form[client]">{{ clientOptions }}</select>
	</div>
	<div>
		<label>Description</label><br>
		<textarea required="required" rows="3" style="width: 500px" name="form[description]">{{ bill.description }}</textarea>
	</div>
	<h3>Agregar productos</h3>
	<div class="table" id="productList">
		<div class="table-row">
			<div class="table-cell">Cantidad</div>
			<div class="table-cell">Producto</div>
			<div class="table-cell">valor unit</div>
			<div class="table-cell">valor</div>
			<div class="table-cell"></div>
		</div>
		{% for billDetail in billDetails %}
			<div class="table-row">
				<div class="table-cell">
					<input name="detailsUpdate[{{ loop.index0 }}]" type="hidden" style="width: 100px;" value="{{ billDetail.id }}">
					<input name="productForm[{{ loop.index0 }}][quantity]" type="number" style="width: 100px;" value="{{ billDetail.quantity }}"></div>
				<div class="table-cell">
					<select name="productForm[{{ loop.index0 }}][product]">{{ macro.productOptionsSelected(products, billDetail.product.id) }}</select>
				</div>
				<div class="table-cell">{{ billDetail.product.value }}</div>
				<div class="table-cell">{{ billDetail.quantity*billDetail.product.value }}</div>
				<div class="table-cell"></div>
			</div>
		{% endfor %}
	</div>
	<div class="table">
		<div class="table-row product_new">
			<div class="table-cell"><input id="newProdCant" placeholder="Cant" style="width: 100px;" type="number" value="{{ product.name }}"/></div>
			<div class="table-cell">
				<select id="newProductProd">{{ productOptions }}</select></div>
			<div class="table-cell">
				<button type="button" id="newProductBill">Crear</button>
			</div>
		</div>
	</div>
	<button type="submit">Guardar factura</button>
	</form>	
</div>
{% endblock %}