{% extends 'base.html.twig' %}

{% block content %}
<div class="content_box" id="billsPage">
	<h2>Facturas</h2>
	<a href="ce.php?action=create">Crear factura</a><br><br>
	<div class="table">
		<div class="table-row">
			<div class="table-cell">Factura</div>
			<div class="table-cell">Descripcion</div>
			<div class="table-cell">Acciones</div>
		</div>
		{% for bill in bills %}
		<div class="table-row bill_reg">
			<div class="table-cell">{{ bill.id }}</div>
			<div class="table-cell">{{ bill.description }}</div>
			<div class="table-cell">
				<button type="button" class="editBtn" data-path="ce.php?action=edit&id={{ bill.id }}">Editar</button>
				<button type="button" class="deleteBtn"
					data-path="{{ asset("crud/index.php?action=delete&entityName=bill&id="~bill.id) }}" >Eliminar</button></div>
		</div>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}