{% extends 'base.html.twig' %}

{% block content %}
<div class="content_box" id="productsPage">
	<h2>Productos</h2>
	<div class="table">
		<div class="table-row">
			<div class="table-cell">Nombre</div>
			<div class="table-cell">Valor</div>
			<div class="table-cell">Acciones</div>
		</div>
		{% for product in products %}
		<form class="table-row product_reg" method="post" action="{{ asset("crud/index.php?action=update&entityName=product&id="~product.id)}}">
			<div class="table-cell"><input type="text" required="required" name="form[name]" value="{{ product.name }}"/></div>
			<div class="table-cell"><input type="number" required="required" name="form[value]" value="{{ product.value }}"/></div>
			<div class="table-cell">
				<button type="submit">Editar</button>
				<button type="button" class="deleteBtn"
					data-path="{{ asset("crud/index.php?action=delete&entityName=product&id="~product.id) }}" >Eliminar</button></div>
		</form>
		{% endfor %}
		<div class="table-row">
			<div class="table-cell">Crear producto</div>
			<div class="table-cell"></div>
			<div class="table-cell"></div>
		</div>
		<form class="table-row" method="post" action="{{ asset("crud/index.php?action=create&entityName=product") }}" id="newProduct">
			<div class="table-cell"><input type="text" required="required" name="form[name]"/></div>
			<div class="table-cell"><input type="number" required="required" name="form[value]"/></div>
			<div class="table-cell"><button>Crear</button></div>
		</form>
	</div>
</div>
{% endblock %}