{# link css #}
{% macro linkCSS(url, asset, attr) %}<link {{ attr|default('')|raw }} rel="stylesheet" type="text/css" href="{{ asset|default(true) ? asset(url) : url }}">{% endmacro %}

{#include js#}
{% macro includeJS(url, asset, attr) %}<script {{attr|default('')|raw}} type="text/javascript" src="{{ asset|default(true) ? asset(url) : url }}"></script>{% endmacro %}

{% macro productOptionsSelected(entities, selected) %}
	<option></option>
	{% for entity in entities %}
		<option value="{{ entity.id }}" {{ entity.id == selected ? "selected" : "" }} data-entity="{{ entity|json_encode }}">{{ entity.name }}</option>
	{% endfor %}
{% endmacro %}