{% import 'macros.twig' as macro %}
{% spaceless %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	 	<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block head %}{% endblock %}
		<title>{% block title %}Unitec Store{% endblock %}</title>
		{{ macro.linkCSS('sources/js/lib/jquery-ui/jquery-ui.css') }}
		{{ macro.linkCSS('sources/js/lib/jquery-ui/jquery-ui.css') }}
		{{ macro.linkCSS('sources/css/bootstrap.min.css') }}
		{{ macro.linkCSS('sources/css/base.css') }}
	</head>
	<body>
		<div id="container">
		{% block body %}
			<div id="header">{% block header_btn %}{% endblock %}</div>
			<div id="content">{% block content %}{% endblock %}</div>
		{% endblock %}
		</div>
		<div id="scripts">
			{{ macro.includeJS('sources/js/jquery.js', true, 'defer') }}
			{{ macro.includeJS('sources/js/lib/jquery-ui/jquery-ui.js', true, 'defer') }}
			{{ macro.includeJS('sources/js/lib/jquery_noty/jquery_noty.js', true, 'defer') }}
			{{ macro.includeJS('sources/js/bootstrap.min.js', true, 'defer') }}
			{{ macro.includeJS('sources/js/lib/jquery-validation/jquery.validate.js', true, 'defer') }}
			{{ macro.includeJS('sources/js/lib/jquery-validation/jquery.form.js', true, 'defer') }}
			{% block javascripts %}{% endblock %}
		</div>
	</body>
</html>
{% endspaceless %}